<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body  style="color: rgb(7, 110, 105); background-color: rgba(67, 185, 136, 0.356);">
    <form action="/model" method="POST">
        <h1>hello from login</h1>
        <!-- <p>login id = abdullah <br> password = 123</p> -->
        <input name="name" type="date" placeholder="date" required >
        <!-- <input name="password" type="password" placeholder="password" required> -->
        <input type="submit" name="submit"><br>
    </form> 
</body>
</html>